<!DOCTYPE html>
<html>

<head>
    <title>萌马笔记</title>
    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta name="description" content="萌马笔记">
    <meta property="og:description" content="萌马笔记" />

    <meta name="author" content="萌马笔记" />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="alternate" type="application/rss+xml" title="萌马笔记" href="/feed.xml" />
</head>

<body>
    <div class="wrapper-masthead">
        <div class="container">
            <header class="masthead clearfix">
                <a href="/" class="site-avatar"><img src="http://ip.malu.me/img/malu.me/weibo/ml.png" /></a>
                <div class="site-info">
                    <h1 class="site-name"><a href="/">萌马笔记</a></h1>
                </div>
                <nav>
                    <a href="/">Blog</a>
                    <a href="/about">About</a>
                </nav>
            </header>
        </div>
    </div>
    <div id="main" role="main" class="container">
        <div class="posts">

            <article class="post">

                <h1><a href="/Oracle/">Oracle</a></h1>

                <div class="entry">
                    <h1 id="sqlplus基础命令">SQL*Plus基础命令</h1>


                </div>

            </article>

            <article class="post">

                <h1><a href="/MQTT/">MQTT</a></h1>

                <div class="entry">
                    <h1 id="emq-x">EMQ X</h1>


                </div>

            </article>

            <article class="post">

                <h1><a href="/Domoticz/">Domoticz</a></h1>

                <div class="entry">
                    <h1 id="快速安装过程">快速安装过程</h1>


                </div>

            </article>

            <article class="post">

                <h1><a href="/IOT/">IOT</a></h1>

                <div class="entry">
                    <h1 id="esp8266">ESP8266</h1>


                </div>

            </article>

            <article class="post">

                <h1><a href="/c9px/">c9px</a></h1>

                <div class="entry">
                    <h1 id="c9px环境配置">c9px环境配置</h1>


                </div>

            </article>

            <article class="post">

                <h1><a href="/Caddy/">Caddy</a></h1>

                <div class="entry">
                    <h1 id="caddy是一个开源的使用-go-编写支持-http2-的-web-服务器">Caddy是一个开源的，使用 Go 编写，支持 HTTP/2 的 Web 服务器</h1>


                </div>

            </article>

            <article class="post">

                <h1><a href="/Linux%E5%88%9B%E5%BB%BA%E4%BD%8E%E6%9D%83%E9%99%90%E7%94%A8%E6%88%B7/">Linux创建低权限用户</a>
                </h1>

                <div class="entry">
                    <h1 id="使用-useradd-命令创建-ssh-用户">使用 useradd 命令创建 SSH 用户：</h1>


                </div>

            </article>

            <article class="post">

                <h1><a href="/Ruby/">Ruby</a></h1>

                <div class="entry">
                    <h1 id="debian快速安装">debian快速安装</h1>


                </div>

            </article>

            <article class="post">

                <h1><a href="/Wifi/">Wifi</a></h1>

                <div class="entry">
                    <h1 id="wifi频繁掉线解决办法">Wifi频繁掉线解决办法</h1>


                </div>

            </article>

            <article class="post">

                <h1><a href="/DNS/">DNS</a></h1>

                <div class="entry">
                    <h1 id="dnsmasq安装">DNSmasq安装</h1>


                </div>

            </article>



            <div class="pagination">
                <div class="pag">

                    <span class="disabled prev_wan">上一页</span>




                    <span class="active">1</span>



                    <a href="/page2">2</a>



                    <a href="/page3">3</a>



                    <a href="/page4">4</a>



                    <a href="/page5">5</a>



                    <a href="/page6">6</a>



                    <a href="/page7">7</a>



                    <a href="/page8">8</a>



                    <a href="/page9">9</a>



                    <a href="/page10">10</a>




                    <a href="/page2" class="next_wan">下一页</a>

                </div>
            </div>

        </div>
    </div>
    <div class="wrapper-footer">
        <div class="container">
            <footer class="footer">




                <a href="http://github.com/pingmalu"><i class="svg-icon github"></i></a>







            </footer>
        </div>
    </div>
    <link href="menu.css" rel="stylesheet">
    <div id="menu2">
        <div class="more">
            <svg focusable="false" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
        </div>
        <div class="logo"></div>
        <ul>
            <li><a class="tb" href="//malu.me/" title="首页">网站首页</a></li>
            <li><a class="tb" href="http://git.malu.me/" title="萌马笔记">萌马笔记</a></li>
            <li><a class="tb" href="http://cdn.malu.me/music/" title="聆听在线音乐">音乐时空</a></li>
            <li><a class="tb" href="http://photo.malu.me/" title="一个图片分享小站">图片相册</a></li>
            <li><a class="tb" href="http://cdn.malu.me/weibo/" title="最新微博">最新微博</a></li>
            <li class="lihover"><a class="tb" href="http://ip.malu.me/" title="在线工具">网络工具</a><i></i>
                <ul>
                    <li><a href="http://ip.malu.me/" title="IP地址归属地查询">IP查询</a></li>
                    <li><a href="http://ip.malu.me/mac/" title="物理MAC地址查询">MAC查询</a></li>
                    <li><a href="http://ip.malu.me/dns/" title="在线DNS查询（无DNS劫持干扰）">DNS查询</a></li>
                    <li><a href="http://ip.malu.me/ping/" title="在线PING工具（在线发送ICMP包的工具）">在线PING</a></li>
                    <li><a href="http://ip.malu.me/wol/" title="网络唤醒数据包发送工具">网络唤醒</a></li>
                    <li><a href="http://ip.malu.me/bt/" title="BT种子转磁力链">种子转换</a></li>
                    <li><a href="http://cdn.malu.me/qrcode/" title="二维码生成工具">二维码生成</a></li>
                    <li><a href="http://cdn.malu.me/qrdecode/" title="二维码识别工具">二维码解析</a></li>
                </ul>
            </li>
            <li class="lihover"><a class="tb" href="http://cdn.malu.me/cpu/" title="性能图表">性能图表</a><i></i>
                <ul>
                    <li><a href="http://cdn.malu.me/cpu/" title="CPU性能天梯表">CPU性能表</a></li>
                    <li><a href="http://cdn.malu.me/gpu/" title="GPU性能天梯表">GPU性能表</a></li>
                    <li><a href="http://cdn.malu.me/hard/" title="硬盘性能天梯表">硬盘性能表</a></li>
                </ul>
            </li>
        </ul>
        <div id="kong"> <a href="//malu.me/links/" data-hint="在线工具">
                <div class="mon">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="malu-1440" transform="translate(-1194.000000, -29.000000)">
                                <g id="more_icon-copy" transform="translate(1193.000000, 28.000000)">
                                    <rect id="Rectangle" fill-opacity="0" fill="#19BF4F" x="0" y="0" width="24" height="24"></rect>
                                    <g id="more" transform="translate(1.000000, 1.000000)" fill="#C0C4CC">
                                        <rect id="Rectangle-2" x="0" y="0" width="6" height="6" rx="1"></rect>
                                        <rect id="Rectangle-2-Copy-3" x="8" y="0" width="6" height="6" rx="1"></rect>
                                        <rect id="Rectangle-2-Copy-4" x="16" y="0" width="6" height="6" rx="1"></rect>
                                        <rect id="Rectangle-2-Copy" x="0" y="8" width="6" height="6" rx="1"></rect>
                                        <rect id="Rectangle-2-Copy-6" x="8" y="8" width="6" height="6" rx="1"></rect>
                                        <rect id="Rectangle-2-Copy-5" x="16" y="8" width="6" height="6" rx="1"></rect>
                                        <rect id="Rectangle-2-Copy-2" x="0" y="16" width="6" height="6" rx="1"></rect>
                                        <rect id="Rectangle-2-Copy-8" x="8" y="16" width="6" height="6" rx="1"></rect>
                                        <rect id="Rectangle-2-Copy-7" x="16" y="16" width="6" height="6" rx="1"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </a>
            <div class="dian"></div>
        </div>
        <div ng-app="searchModule" ng-controller="searchCtrl" id="search_body">
            <div id="malu_search" style=""> <label id="m_search" for="inpt_search"> <input id="inpt_search"
                        type="search" ng-keydown="keydown($event)" ng-change="change()" ng-model="greeting"
                        placeholder="输入搜索内容..." /> </label> </div>
            <div id="search_result" style="display:none;">
                <div id="search_close"></div>
                <div id="search_nei">
                    <div id="search_null" style="display:none">
                        <h3>无结果</h3>
                    </div>
                    <div ng-repeat="x in names" class="search_list">
                        <h3><a href="{{ x.url }}">{{ x.title }}</a></h3>
                        <div class="search_info"> <cite>{{ x.url | urldecode }}</cite> <span
                                class="search_summary">{{ x.summary }}</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="malukepfoot">Copyright © 2010-2019 <a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备15011663</a>
        | <a href="http://cdn.malu.me/map/">访问分布</a> | <a href="http://cdn.malu.me/mon/">监控</a> | <a
            href="http://cdn.malu.me/searchmap/">爬虫</a> | <a href="http://mcms.malu.me/">实验室</a> | <a
            href="javascript:void(0)" onclick="maluXHTML();">XHTML</a> <a href="javascript:void(0)"
            onclick="maluCSS3();">CSS3</a> | <a href="mailto:malu@malu.me">malu@malu.me</a></div>
    <script src="//malu.me/m/menu.js"></script>
    <script src="//malu.me/m/closemalu.js"></script>
    <script src="//malu.me/m/updownmalu.js"></script>


</body>

</html>