* html {
    background-image: url(about:blank);
    background-attachment: fixed
}

* {
    margin: 0;
    padding: 0
}

a:link, a:visited, a:active {
    text-decoration: none
}

#menu2 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", sans-serif;
    display: block;
    height: 32px;
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    line-height: 32px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0px;
    background-color: #000;
    background: -moz-linear-gradient(#252525, #0a0a0a);
    background: -o-linear-gradient(#252525, #0a0a0a);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a));
    background: -webkit-linear-gradient(#252525, #0a0a0a);
    left: 0;
    _left: 0;
    _position: absolute;
    _bottom: auto;
    _top: expression(eval(document.documentElement.scrollTop))
}

#menu2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 10%;
    margin-left: 10%;
    float: left;
}

#menu2 ul li {
    float: left;
    position: relative;
    text-align: center
}

#menu2 ul li a {
    font-size: 12px;
    position: relative;
    overflow: hidden;
    display: block;
    width: 90px;
    height: 32px;
    font-weight: bold;
    text-decoration: none;
    color: #CCC;
    background-color: #000;
    background: -moz-linear-gradient(#252525, #0a0a0a);
    background: -o-linear-gradient(#252525, #0a0a0a);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a));
    background: -webkit-linear-gradient(#252525, #0a0a0a);
}

#menu2 ul li a:hover {
    color: #eee;
    background-color: #5C5C5C
}

#menu2 ul li a span {
    position: absolute;
    left: 0;
    width: 90px
}

#menu2 ul li a span.out {
    color: #CCC;
    background-color: #000;
    background: -moz-linear-gradient(#252525, #0a0a0a);
    background: -o-linear-gradient(#252525, #0a0a0a);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a));
    background: -webkit-linear-gradient(#252525, #0a0a0a);
}

#menu2 ul li a span.over {
    top: -32px;
    color: #000;
    background: #efefef
}

#menu2 ul li a.cb {
    height: 31px;
    line-height: 29px;
    border-top: 1px solid #FFF
}

#menu2 ul li ul {
    display: none;
    position: absolute;
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    -ms-box-shadow: 0 0 5px #000;
    -o-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    background-image: none;
    margin: 0;
    padding: 0;
}

#menu2 ul li:hover ul {
    display: block
}

#menu2 ul li.navmoon ul {
    display: block
}

#menu2 ul li.navmoon ul a {
    display: block
}

#menu2 ul li:hover ul li a {
    display: block;
    background: #3C3C3C;
    color: #eee
}

#menu2 ul li:hover i {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    border-top-color: #6dc7ec
}

#menu2 ul li:hover ul li a:hover {
    background: #6dc7ec;
    color: #fff
}

#menu2 i {
    right: 7px;
    border: solid 1px transparent;
    border-width: 4px 4px 0 4px;
    _border-color: black;
    _filter: chroma(color=black);
    border-top-color: #CCC;
    margin-top: -17px;
    margin-left: 30px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    position: absolute
}

#kong {
    display: block;
    height: 32px;
    float: right;
    margin-right: 10%;
    width: 32px;
    text-align: center;
}

#kong .mon {
    /* top: 0; */
    /* display: block; */
    padding: 0;
    /* padding-bottom: 6px; */
    /* padding-left: 3px; */
    /* padding-right: 3px; */
    margin: 5px 0 0 0;
    height: 24px;
}

svg:hover #more{
    fill: #2CC4FF;
}

.more svg:hover path{
    fill: #2CC4FF;
}

#kong .mon:hover div {
    background-color: #2CC4FF;
    box-shadow: 0 0 5px #51B2E0
}

#kong .cmon svg #more {
    fill: #2CC4FF;
}

#kong a[data-hint]:before {
    left: 6px;
}

#kong a[data-hint]:after {
    margin-left: -23px;
}

#kong .dian {
    display: none
}

#kong .cdian {
    position: absolute;
    background: transparent;
    border: 8px solid transparent;
    border-top-color: #5C5C5C;
    top: 32px;
    margin-left: 10px;
    display: block
}

/* 台风搜索 */

#menu2 #malu_search {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: right;
    margin-right: 50px;
}

#menu2 #m_search {
    display: inline-block;
    position: relative;
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    margin: 4px 8px 7px 8px;
    padding: 0 8px;
    border: 1px solid #DDDDDD;
    border-radius: 18px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: text;
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: .25em;
    height: .25em;
    position: absolute;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
}

#menu2 #inpt_search {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 13px;
    color: #FFFFFF;
    background: transparent;
    outline-width: 0px;
    line-height: 23px;
    height: 22px;
    vertical-align: middle;
    display: block;
    padding: 0;
    margin: 0;
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out;
}

#menu2 #m_search:after {
    content: "";
    position: absolute;
    width: 1px;
    height: 8px;
    right: -1px;
    top: 14px;
    background: #DDDDDD;
    /* border-radius: 3px; */
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

#menu2 #m_search.active, #menu2 #m_search:hover {
    width: 200px;
    margin-right: 0px;
    height: 24px;
    padding: 0 9px;
}

#menu2 #m_search:hover {
    border-color: #2CC4FF;
    box-shadow: 0 0 1px #51B2E0;
}

#menu2 #m_search.active:after, #menu2 #m_search:hover:after {
    height: 0px;
}

#menu2 #search_result {
    visibility: visible;
    width: 400px;
    height: 500px;
    display: block;
    position: fixed;
    right: 9%;
    top: 46px;
    background: #424242;
    padding: 10px 20px;
    box-shadow: rgba(129, 129, 129, 1) 0 0 0 1px, rgba(0, 0, 0, 1) 0 0 15px 5px;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    overflow: initial!important;
}

#menu2 #search_result:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 8px solid transparent;
    z-index: 9999;
    border-bottom-color: #818181;
    margin-bottom: 0px;
    left: 226px;
    top: -16px;
}

#menu2 #search_result:after {
    content: '';
    position: absolute;
    background: transparent;
    border: 7px solid transparent;
    z-index: 9999;
    border-bottom-color: #424242;
    margin-bottom: 0px;
    left: 227px;
    top: -13px;
}

#menu2 #search_nei {
    overflow-x: hidden;
    /* width: 100%; */
    height: 500px;
    text-align: left;
    overflow-y: auto;
}

#menu2 .search_list {
    margin: 4px 0px;
    padding: 3px 5px;
}

#menu2 .search_list a {
    color: #B3D9F1;
    font-size: 14px;
}

#menu2 .search_list a:hover {
    color: #4FBCFF;
}

#menu2 .search_list span.search_summary {
    height: 29px;
    display: block;
    overflow: hidden;
    color: #AFAFAF;
    font: 12px monospace;
}

#menu2 .search_list h3 {
    line-height: 1.4;
    padding: 0;
    margin: 0;
    width: 368px;
    overflow: hidden;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", sans-serif;
}

#menu2 .search_list cite {
    font-style: normal;
    color: #636363;
    font-size: 12px;
    line-height: 16px;
    display: block;
}

#search_close {
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(66, 66, 66, 0.1);
    top: 0px;
    right: -61px;
    cursor: pointer;
}

#search_close:hover {
    box-shadow: rgba(129, 129, 129, 1) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 10px 0px 13px 4px;
}

#search_close::before, #search_close::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #9E9E9E;
}

#search_close:hover:before, #search_close:hover:after {
    height: 2px;
}

#search_close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#search_close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#search_null {
    text-align: center;
    line-height: 500px;
    color: #818181;
}

#search_null h3 {
    font-size: 18px;
    color: #818181;
    font-family: Lato, 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 微软雅黑, sans-serif;
    font-weight: bold;
}

/* 台风搜索 */

[data-hint] {
    position: relative;
    display: inline-block
}

[data-hint]:before, [data-hint]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    transition: 0.2s ease;
    bottom: -50px;
    left: 7%
}

[data-hint]:hover:before, [data-hint]:hover:after {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    transform: translateY(-8px)
}

[data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
    border-bottom-color: #383838;
    margin-bottom: 28px;
    left: 12px
}

[data-hint]:after {
    content: attr(data-hint);
    background: #383838;
    color: white;
    text-shadow: 0 -1px 0px black;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    margin-left: -18px
}

#malukepfoot {
    position: fixed;
    bottom: 0;
    background: #000;
    width: 100%;
    opacity: .90;
    filter: alpha(opacity=90);
    _bottom: auto;
    _width: 100%;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
    -webkit-box-shadow: 1px 0 5px #000;
    -moz-box-shadow: 1px 0 5px #000;
    box-shadow: 1px 0 5px #000;
    left: 0px;
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "微软雅黑", sans-serif;
    color: #999999;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    padding: 5px
}

#malukepfoot a {
    color: #999999;
    text-decoration: none
}

#malukepfoot a:hover {
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: all 0.3s
}

#menu2 .logo {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+DQo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIwIDMyMCI+DQogIDxjaXJjbGUgY3g9IjE2MCIgY3k9IjE2MCIgcj0iMTQyIiBzdHJva2U9IiNiYmIiIHN0cm9rZS13aWR0aD0iMjUiIGZpbGwtb3BhY2l0eT0iMCIvPg0KICA8cG9seWdvbiBpZD0ic3ZnXzIiIHBvaW50cz0iNjIsOTUgMjU4LDk1IDE2MCw0MCIgc3Ryb2tlLXdpZHRoPSIwIiBmaWxsPSIjYmJiIi8+DQogIDxyZWN0IGlkPSJzdmdfMyIgaGVpZ2h0PSIxMjAiIHdpZHRoPSI0MCIgeT0iMTEwIiB4PSI4MCIgc3Ryb2tlLXdpZHRoPSIwIiBmaWxsPSIjYmJiIi8+DQogIDxyZWN0IGlkPSJzdmdfNCIgaGVpZ2h0PSIxMjAiIHdpZHRoPSI0MCIgeT0iMTEwIiB4PSIxNDAiIHN0cm9rZS13aWR0aD0iMCIgZmlsbD0iI2JiYiIvPg0KICA8cmVjdCBpZD0ic3ZnXzUiIGhlaWdodD0iMTIwIiB3aWR0aD0iNDAiIHk9IjExMCIgeD0iMjAwIiBzdHJva2Utd2lkdGg9IjAiIGZpbGw9IiNiYmIiLz4NCiAgPHJlY3QgaWQ9InN2Z182IiBoZWlnaHQ9IjI1IiB3aWR0aD0iMTk2IiB5PSIyNDQiIHg9IjYyIiBzdHJva2Utd2lkdGg9IjAiIGZpbGw9IiNiYmIiLz4NCjwvc3ZnPg==);
    >background-image: url(http://ip.malu.me/img/bg/favicon-malu.me.gif);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: 10%;
}

#menu2 .more {
    display: none;
    width: 44px;
    height: 32px;
    position: absolute;
    text-align: center;
}

#menu2 .more svg {
    color: #dfdfdf;
    fill: currentColor;
    width: 24px;
    margin-top: 3px;
}

/* pc */

@media only screen and (max-width: 512px) {
    #menu2 #search_result {
        width: 85%;
        margin: 0 10px;
        max-width: 400px;
        right: 2px;
    }
}

/* app */

@media only screen and (max-width: 1182px) {
    #menu2 .more {
        display: block;
    }
    #menu2 .more[data-hint]:before {
        left: 16px;
    }
    #menu2 .more[data-hint]:after {
        left: 20px;
    }
    #menu2 .logo {
        margin-left: 11%;
    }
    #menu2 ul {
        display: none;
        list-style: none;
        /* position: relative; */
        margin: 32px 0 0 0;
        padding-left: 0;
        box-shadow: 0 0 5px #000;
    }
    #menu2 ul li {
        float: none;
    }
    #menu2 ul li ul {
        margin: -32px 0 0 180px;
    }
    #menu2 ul li a span.out {
        background: #3C3C3C;
    }
    #menu2 #m_search {
        max-width: 152px;
    }
    #search_body {
        overflow: hidden;
    }
    #menu2 #malu_search {
        margin-right: 21px;
    }
    #kong {
        margin-right: 61px;
    }
    #menu2 ul li a {
        width: 180px;
    }
    #menu2 ul li a span {
        width: 180px;
    }
}

@media only screen and (max-width: 1324px) {
    #menu2 #m_search {
        max-width: 152px;
    }
    #menu2 #malu_search {
        margin-right: 21px;
    }
}